.ul-attribute > li {
  height: 40px;
  line-height: 40px;
}

.ul-attribute li a {
  padding-left: 30px;
  color: #8d8e94;
  text-transform: capitalize;
}

.ul-attribute li a:hover {
  text-decoration: none;
  color: #fff;
}
