.ul-menu {
  display: flex;
  flex-direction: column;
}

.ul-menu > li {
  list-style: none;
}

.li-product {
  flex-direction: column;
  border-bottom: 1px solid #000;
}

.li-product a {
  display: flex;
  height: 40px;
  align-items: center;
}

span {
  flex: 1;
  height: auto;
}
