.content {
  padding: 0px 8px 10px 15px;
  display: flex;
  flex-direction: column;
}

.data-product {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  /* height: 730px;
  overflow: scroll; */
}

table {
  border-collapse: collapse;
  border: 1px solid black;
}

th,
td {
  border: 1px solid black;
}
